#creditcard-image{
  margin: auto;
  display: block;
  width: 100%;
}

.hide{
  display: none;
}

.invalid{
  color: red;
}

.valid{
  color: green;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
